<div class="modal" id="nuevaClase">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Nueva clase</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action=""></form>
                <div class="input-group mb-3">
                    <span class="input-group-text">Nombre de la clase</span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Descripción de la clase</span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Proyecto</span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Materia</span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Color distintivo</span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Icono distintivo</span>
                    <input type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Enlace de zoom</span>
                    <input type="text" class="form-control">
                </div>
                <button class="btn btn-primary">Crear</button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>