 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Plataforma</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
<div class="container-fluid">
<ul class="navbar-nav me-auto">
<li class="nav-item">
    <a class="nav-link active" href="{% url 'index' %}">CLASS</a>
</li>
</ul>
<ul class="navbar-nav">
<li class="nav-item">
    <a class="nav-link active text-end" href="#" data-bs-toggle="modal" data-bs-target="#joinClassModal">Unirte a una Clase</a>
</li>
</ul>
<ul class="navbar-nav">
<li class="nav-item">
    <a class="nav-link active text-end" href="#">Perfil</a>
</li>
</ul>
</div>
</nav>


<div class="offcanvas offcanvas-start" id="demo">
<div class="offcanvas-header">
<h1 class="offcanvas-title">CLASS</h1>
<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
</div>
<div class="offcanvas-body">
<div class="d-flex flex-column">
<a href="#" class="btn btn-offcanvas mt-2">
    Pendientes <span class="material-symbols-outlined">list_alt</span>
    <img src="{% static 'img/arrow_right.png' %}" alt="">
</a>
<a href="#" class="btn btn-offcanvas mt-2">
    Metodologia de la investigacion <span class="material-symbols-outlined">interactive_space</span>
    <img src="{% static 'img/arrow_right.png' %}" alt="">
</a>
<a href="#" class="btn btn-offcanvas mt-2">
    Integradora II <span class="material-symbols-outlined">image</span>
    <img src="{% static 'img/arrow_right.png' %}" alt="">
</a>
<a href="#" class="btn btn-offcanvas mt-2">
    Base de datos II <span class="material-symbols-outlined">database</span>
    <img src="{% static 'img/arrow_right.png' %}" alt="">
</a>
<a href="#" class="btn btn-offcanvas mt-2">
    Aplicaciones Web <span class="material-symbols-outlined">language</span>
    <img src="{% static 'img/arrow_right.png' %}" alt="">
</a>
<a href="#" class="btn btn-offcanvas mt-2">
    Diseño digital <span class="material-symbols-outlined">palette</span>
    <img src="{% static 'img/arrow_right.png' %}" alt="">
</a>
<a href="#" class="btn btn-offcanvas mt-2">
    Aplicaciones moviles <span class="material-symbols-outlined">phone_iphone</span>
    <img src="{% static 'img/arrow_right.png' %}" alt="">
</a>
</div>
</div>
</div>

<div class="container-fluid mt-3">
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
<span class="material-symbols-outlined">menu</span>
</button>
</div>

<div class="container">
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col">
<a href="{% url 'clase' %}" class="text-decoration-none text-dark">
    <div class="card h-100 my-4">
        <div class="card-body">
            <h5 class="card-title">INTEGRADORA II</h5>
            <h6 class="card-text">Universidad Tecnologia Tula-Tepeji</h6>
            <h6 class="card-text">6TIDSM-G1</h6>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary fs-6">Odisey Yazmin Porras Beltran</small>
        </div>
    </div>
</a>
</div>

<div class="col">
<a href="{% url 'clase' %}" class="text-decoration-none text-dark">
    <div class="card h-100 my-4">
        <div class="card-body">
            <h5 class="card-title">BASE DE DATOS EN LA NUBE</h5>
            <h6 class="card-text">Universidad Tecnologia Tula-Tepeji</h6>
            <h6 class="card-text">6TIDSM-G1</h6>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary fs-6">Jose Luis Herrera Gallardo</small>
        </div>
    </div>
</a>
</div>

<div class="col">
<a href="{% url 'clase' %}" class="text-decoration-none text-dark">
    <div class="card h-100 my-4">
        <div class="card-body">
            <h5 class="card-title">APLICACIONES WEB 4.0</h5>
            <h6 class="card-text">Universidad Tecnologia Tula-Tepeji</h6>
            <h6 class="card-text">6TIDSM-G1</h6>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary fs-6">Edel Meza Hernandez | Erick Guerrero Bravo</small>
        </div>
    </div>
</a>
</div>

<div class="col">
<a href="{% url 'clase' %}" class="text-decoration-none text-dark">
    <div class="card h-100 my-4">
        <div class="card-body">
            <h5 class="card-title">Formacion Sociocultural</h5>
            <h6 class="card-text">Universidad Tecnologia Tula-Tepeji</h6>
            <h6 class="card-text">6TIDSM-G1</h6>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary fs-6">Maria Guadalupe Gallegos Ceron</small>
        </div>
    </div>
</a>
</div>

<div class="col">
<a href="{% url 'clase' %}" class="text-decoration-none text-dark">
    <div class="card h-100 my-4">
        <div class="card-body">
            <h5 class="card-title">Ingles Pre Intermedio</h5>
            <h6 class="card-text">Universidad Tecnologia Tula-Tepeji</h6>
            <h6 class="card-text">6TIDSM-G1</h6>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary fs-6">Felipe de Jesus Mendoza Tapia</small>
        </div>
    </div>
</a>
</div>


<!-- Modal para unirse a una clase -->
<div class="modal fade" id="joinClassModal" tabindex="-1" aria-labelledby="joinClassModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="joinClassModalLabel">Unirte a una Clase</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<form>
    <div class="mb-3">
        <label for="classCode" class="form-label">Código de la Clase</label>
        <input type="text" class="form-control" id="classCode" placeholder="Ingresa el código de la clase" required>
    </div>
    <div class="mb-3">
        <label for="studentName" class="form-label">Nombre del Estudiante</label>
        <input type="text" class="form-control" id="studentName" placeholder="Ingresa tu nombre" required>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="termsAgreement" required>
        <label class="form-check-label" for="termsAgreement">Acepto los términos y condiciones</label>
    </div>
</form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
<button type="button" class="btn btn-primary">Unirte</button>
</div>
</div>
</div>
</div>



</div>
{% endblock %}
</div>
</body>
</html>